<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="RECAPTCHA_SECRET_KEY" value="6LeRPpYdAAAAAFRfHG2qMUBieUCfypk9LExYJLGc"/>
    <add key="RECAPTCHA_GOOGLE_URL" value="https://www.google.com/recaptcha/api/siteverify"/>
  </appSettings>
  <system.webServer>
    <handlers>
      <remove name="aspNetCore" />
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="InProcess" />
  </system.webServer>
  <connectionStrings>
    <add name="AuctionSystemDbContext" connectionString="Data Source=AuctionSystem\MSSQLLocalDB;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>